<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Visualizador de ventas por dia</title>
</head>
<body>
	<div align="center">
		<h1>Listado de Ventas por día</h1>
		<br />

		<table>
			<tbody>
				<tr>
					<th><button style="background-color: #008CBA; font-size: medium; font-family:Arial; ">
						<a style="color: white" href="/tienda">Volver al menú pricipal</a></button></th>
					<th>&nbsp;</th>
				</tr>
			</tbody>
		</table>
		<br />

		<table style="font-family: Arial, Helvetica, sans-serif; border-collapse: collapse;">
			<tbody>
				<tr>
					<th style="border: 1px solid; padding: 3px; text-align: center;"><input type="date"></th>
					<th style="border: 1px solid; padding: 3px; text-align: center;"><button style="cursor: pointer;"><a>Calcular Ganancia del día</a>
					</button></th>
					<th style="border: 1px solid; padding: 3px; text-align: center;"><p>Resultado</p></th>
				</tr>
			</tbody>
		</table>
		

		<br />
		<table border="1" cellpadding="10" style="font-family: Arial, Helvetica, sans-serif; border-collapse: collapse; width: 80%;">
			<thead>
				<tr>
					<th style="border: 1px solid #ddd; padding: 8px; padding-top: 12px; padding-bottom: 12px; text-align: left; background-color: #04AA6D; color: white;">Venta ID</th>
					<th style="border: 1px solid #ddd; padding: 8px; padding-top: 12px; padding-bottom: 12px; text-align: left; background-color: #04AA6D; color: white;">Fecha</th>
					<th style="border: 1px solid #ddd; padding: 8px; padding-top: 12px; padding-bottom: 12px; text-align: left; background-color: #04AA6D; color: white;">Cliente</th>
					<th style="border: 1px solid #ddd; padding: 8px; padding-top: 12px; padding-bottom: 12px; text-align: left; background-color: #04AA6D; color: white;">Importe</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="venta : ${listVentas}">
					<td style="border: 1px solid #ddd; padding: 8px;" th:text="${venta.id}">Venta ID</td>
					<td style="border: 1px solid #ddd; padding: 8px;" th:text="${venta.fecha}">Fecha</td>
					<td style="border: 1px solid #ddd; padding: 8px;" th:text="${venta.razonSocial}">Cliente</td>
					<td style="border: 1px solid #ddd; padding: 8px;" th:text="${venta.importeFinalStr}">Importe Final</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
