<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Crea un nuevo Item de Venta</title>
<style>
	.container { 
	width: 100%;
	box-shadow: 0px 2px 0px 0px gray;
	}
	.navbar { 
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	display: flex;
	align-items: center;
	padding: 10px;
	}
	
	nav { 
	flex: 1;
	text-align: right;
	}
	nav ul { 
	display: inline-block;
	list-style-type: none;
	}
	nav ul li { 
	display: inline-block;
	margin-left: 20px;
	}
	a { 
	text-decoration: none;
	color: black;
	}
	a:hover { 
	color: blue;
	}
	p { 
	color: black;
	}
</style>
</head>
<body>

	<div class="container">
		<div class="navbar">
			<div class="logo">
				<img src="../../images/tiendaRopitaLogo.png" />
			</div>
			
			<nav>
				<ul>
					<li><a href="/tienda">Inicio</a></li>
					<li><a href="/tienda/prendas/list">Prendas</a></li>
					<li><a href="/tienda/clientes/list">Clientes</a></li>
					<li><a href="/tienda/ventas/list">Ventas</a></li>
					<li><a href="/tienda/negocio/list">Negocio</a></li>
				</ul>
			</nav>
		</div>
	</div>
    <div align="center">
        <h1>Crear un nuevo Item de Venta</h1>
        <table>
            <tbody>
                <tr>
<!--                     <th><a href="/tienda/ventas/show_ventas">Volver al detalle de la venta</a></th> -->
                    <th><a href="/tienda/ventas/list">Volver al listado ventas</a></th>
                </tr>
            </tbody>
        </table>
        <br />
        <form action="#" th:action="@{/tienda/ventas/item/save}"
            th:object="${item}" method="post">

            <table border="0" cellpadding="10">
                <tr>
                    <td>Venta:</td>
                    <td><input type="text" th:field="*{ventaId}"  readonly="readonly" /></td>
                </tr>
                <tr>
                    <td>Prenda:</td>
                    <td><input type="text" th:field="*{prendaId}" /></td>
                </tr>
                <tr>
                    <td>Cantidad:</td>
                    <td><input type="text" th:field="*{cantidad}" /></td>
                </tr>
                   <tr>
                    <td colspan="2"><button> <a th:href="@{'/tienda/ventas/show/' + ${item.ventaId}}">Volver</a> </button></td>
                    <td colspan="2"><button type="submit">Grabar</button></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
